{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col">
        <div class="mb-3">
            <h4>
                Username: <span class = "dng">{{ username }}</span>
            </h4>
        </div>
        <div class="mb-3">
            <h4>
                Created: <span class = "dnr">{{ creation_date }}</span>
            </h4>
        </div>
        <form action="/account" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password">
            </div>
            <button class="btn btn-dark" type="submit">Change Password</button>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col">
        <div class="position-fixed bottom-0 start-50 translate-middle-x">
            <div class="alert alert-danger mx-auto w-auto h-auto" id="alert" role="alert" style="display: none;">{{ alert_text }}</div>
            <script>
                var alert = document.getElementById("alert");
                if (alert.innerHTML == "Success") {
                    alert.classList.replace("alert-danger", "alert-success")
                    alert.style.display = "block";
                    removeFadeOut(alert);
                }
                if (alert.innerHTML != "NONE") {
                    alert.style.display = "block";
                    removeFadeOut(alert);
                }
            </script>
        </div>
    </div>
</div>
{% endblock %}
